.nav-tem{
    letter-spacing:0.2em;
    font-size:14px:
    text-transform:uppercase;
}

.dropdown-item{
    letter-spacing:0.2em;
    font-size:14px:
    text-transform:uppercase;
}

body{
    font-family: 'Oxygen', sans-serif;
}
.my_footer{
    background-color:#e4e3e3;
    height:60px;
}
.my_footer p{
   padding-top:20px;
   font-size:14px;
}
/***Category Page***/
.my_row_class{
    padding-top:15px;
}
.my_row_class .mx-auto{
    color:black;
    font-size:12px;
}
.my_image{
    width:100%;
    height:auto;
}
.cat_image{
    display:flex;
    align-items:center;
    justify-content:center;
    width:50%;
    height:auto;
}
.my_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
}
.my_image_padding{
    padding:5px;
}
.my_bottom_margin{
    margin-bottom:10px;
}
.card-body h4{
    font-size:14px;
    text-transform:center;
    letter-spacing:0.2em;
}
/***product***/
.my_prod_row_class{
    padding-top:15px;
    padding-bottom:20px;
}
.my_prod_row_class .mx_auto{
    color:black;
    font-size:12px;
}
.my_prod_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;
}
.my_prod_desc{
    padding-right:20px;
}
.my_search{
    padding-top:20px;
}
/***Cart***/
.my_custom_table{
    min-width:400px;
    font-size:14px;
}
.my_custom_thead{
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
}
.my_custom_button{
    margin-top:5px;
}
.custom_a{
    text-decoration:none;
}
.my_icon{
    text-decoration:none;
    color:black;
}