<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Table</title>
  <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        table {
            width: 100%;
            max-width: 100vw;
            max-height: 100vh;
            overflow-y: auto;
            margin: 20px auto;
            border-collapse: collapse;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-size: 14px;
            background-color: #fff;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #4CAF50;
            color: #fff;
            border-top: 2px solid #2c3e50;
            border-bottom: 2px solid #2c3e50;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        b {
            color: #4CAF50;
        }
    </style>
</head>
<body>

  <h2>Data Table</h2>

  <table>
    <tr>
        <th>Month</th>
      <th>Name</th>
      <th>Type</th>
      <th>Source</th>
      <th>Average Across Replications</th>
      <th>Half-Width</th>
      <th>Overall StDev Across Replications</th>
      <th>Min Replication Value</th>
      <th>Max Replication Value</th>
    </tr>
    <tr>
        <td rowspan="13">Month 1</td>
      <td>System.NumberOut</td>
      <td>Number Out</td>
      <td>System</td>
      <td>5885.2</td>
      <td>48.35680993</td>
      <td>67.59815908</td>
      <td>5810</td>
      <td>6034</td>
    </tr>
    <tr>
      <td>Barista.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>5888</td>
      <td>48.70734843</td>
      <td>68.08817812</td>
      <td>5811</td>
      <td>6037</td>
    </tr>
    <tr>
      <td>Barista.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.524862222</td>
      <td>0.004386384</td>
      <td>0.006131742</td>
      <td>0.519164078</td>
      <td>0.53893394</td>
    </tr>
    <tr>
      <td>Coffee Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>3266.4</td>
      <td>29.91450417</td>
      <td>41.81759332</td>
      <td>3217</td>
      <td>3336</td>
    </tr>
    <tr>
      <td>Coffee Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.324300431</td>
      <td>0.003027537</td>
      <td>0.004232205</td>
      <td>0.319697372</td>
      <td>0.331340869</td>
    </tr>
    <tr>
      <td>Customer.NumberIn</td>
      <td>Number In</td>
      <td>Entity</td>
      <td>5888.2</td>
      <td>48.70828232</td>
      <td>68.08948361</td>
      <td>5811</td>
      <td>6037</td>
    </tr>
    <tr>
      <td>Customer.NumberOut</td>
      <td>Number Out</td>
      <td>Entity</td>
      <td>5885.2</td>
      <td>48.35680993</td>
      <td>67.59815908</td>
      <td>5810</td>
      <td>6034</td>
    </tr>
    <tr>
      <td>Hot Chocolate Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>657.5</td>
      <td>11.91903778</td>
      <td>16.66166592</td>
      <td>632</td>
      <td>682</td>
    </tr>
    <tr>
      <td>Hot Chocolate Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.110854167</td>
      <td>0.002167403</td>
      <td>0.00302982</td>
      <td>0.105936553</td>
      <td>0.114573308</td>
    </tr>
    <tr>
      <td>Service Counter.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>5888</td>
      <td>48.70734843</td>
      <td>68.08817812</td>
      <td>5811</td>
      <td>6037</td>
    </tr>
    <tr>
      <td>Service Counter.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.292267381</td>
      <td>0.002454727</td>
      <td>0.003431472</td>
      <td>0.289075269</td>
      <td>0.299890438</td>
    </tr>
    <tr>
      <td>Tea Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>2608</td>
      <td>47.08814155</td>
      <td>65.82468298</td>
      <td>2490</td>
      <td>2726</td>
    </tr>
    <tr>
      <td>Tea Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.150921131</td>
      <td>0.002721455</td>
      <td>0.003804332</td>
      <td>0.1440838</td>
      <td>0.157743186</td>
    </tr>

<tr>
    <td rowspan="13">Month 2</td>
    <td>System.NumberOut</td>
      <td>Number Out</td>
      <td>System</td>
      <td>6275.8</td>
      <td>54.74108733</td>
      <td>76.5227635</td>
      <td>6218</td>
      <td>6469</td>
    </tr>
    <tr>
      <td>Barista.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>6277.8</td>
      <td>55.42341474</td>
      <td>77.47659145</td>
      <td>6221</td>
      <td>6474</td>
    </tr>
    <tr>
      <td>Barista.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.44933095</td>
      <td>0.004072882</td>
      <td>0.005693496</td>
      <td>0.442755676</td>
      <td>0.462357005</td>
    </tr>
    <tr>
      <td>Coffee Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>3484.9</td>
      <td>40.96031726</td>
      <td>57.25857529</td>
      <td>3410</td>
      <td>3566</td>
    </tr>
    <tr>
      <td>Coffee Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.345752219</td>
      <td>0.003960442</td>
      <td>0.005536316</td>
      <td>0.338344036</td>
      <td>0.353602168</td>
    </tr>
    <tr>
      <td>Customer.NumberIn</td>
      <td>Number In</td>
      <td>Entity</td>
      <td>6277.9</td>
      <td>55.62479432</td>
      <td>77.75810069</td>
      <td>6221</td>
      <td>6475</td>
    </tr>
    <tr>
      <td>Customer.NumberOut</td>
      <td>Number Out</td>
      <td>Entity</td>
      <td>6275.8</td>
      <td>54.74108733</td>
      <td>76.5227635</td>
      <td>6218</td>
      <td>6469</td>
    </tr>
    <tr>
      <td>Hot Chocolate Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>704.8</td>
      <td>19.88126008</td>
      <td>27.7920852</td>
      <td>660</td>
      <td>755</td>
    </tr>
    <tr>
      <td>Hot Chocolate Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.118950289</td>
      <td>0.003430184</td>
      <td>0.004795066</td>
      <td>0.111975313</td>
      <td>0.127695619</td>
    </tr>
    <tr>
      <td>Service Counter.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>6277.8</td>
      <td>55.42341474</td>
      <td>77.47659145</td>
      <td>6221</td>
      <td>6474</td>
    </tr>
    <tr>
      <td>Service Counter.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.233585263</td>
      <td>0.002174415</td>
      <td>0.003039623</td>
      <td>0.23119538</td>
      <td>0.241529111</td>
    </tr>
    <tr>
      <td>Tea Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>2786</td>
      <td>37.53484646</td>
      <td>52.4700973</td>
      <td>2701</td>
      <td>2878</td>
    </tr>
    <tr>
      <td>Tea Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.080612162</td>
      <td>0.001085754</td>
      <td>0.001517779</td>
      <td>0.078159696</td>
      <td>0.083273976</td>
    </tr>


      <tr>
          <td rowspan="13">Month 3</td>
      <td>System.NumberOut</td>
      <td>Number Out</td>
      <td>System</td>
      <td>6668.7</td>
      <td>27.43559278</td>
      <td>38.35231414</td>
      <td>6617</td>
      <td>6723</td>
    </tr>
    <tr>
      <td>Barista.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>6670.7</td>
      <td>27.997692</td>
      <td>39.13807467</td>
      <td>6618</td>
      <td>6725</td>
    </tr>
    <tr>
      <td>Barista.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.400897745</td>
      <td>0.002604075</td>
      <td>0.003640245</td>
      <td>0.394603093</td>
      <td>0.406973861</td>
    </tr>
    <tr>
      <td>Coffee Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>3712.2</td>
      <td>43.74517801</td>
      <td>61.15154218</td>
      <td>3590</td>
      <td>3777</td>
    </tr>
    <tr>
      <td>Coffee Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.368420905</td>
      <td>0.00432358</td>
      <td>0.006043948</td>
      <td>0.356348924</td>
      <td>0.375006157</td>
    </tr>
    <tr>
      <td>Customer.NumberIn</td>
      <td>Number In</td>
      <td>Entity</td>
      <td>6670.7</td>
      <td>27.997692</td>
      <td>39.13807467</td>
      <td>6618</td>
      <td>6725</td>
    </tr>
    <tr>
      <td>Customer.NumberOut</td>
      <td>Number Out</td>
      <td>Entity</td>
      <td>6668.7</td>
      <td>27.43559278</td>
      <td>38.35231414</td>
      <td>6617</td>
      <td>6723</td>
    </tr>
    <tr>
      <td>Hot Chocolate Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>748.3</td>
      <td>20.00172818</td>
      <td>27.96048799</td>
      <td>706</td>
      <td>778</td>
    </tr>
    <tr>
      <td>Hot Chocolate Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.126331732</td>
      <td>0.003509038</td>
      <td>0.004905297</td>
      <td>0.118684555</td>
      <td>0.131998305</td>
    </tr>
    <tr>
      <td>Service Counter.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>6670.7</td>
      <td>27.997692</td>
      <td>39.13807467</td>
      <td>6618</td>
      <td>6725</td>
    </tr>
    <tr>
      <td>Service Counter.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.198589675</td>
      <td>0.000849338</td>
      <td>0.001187293</td>
      <td>0.197228687</td>
      <td>0.200361409</td>
    </tr>
    <tr>
      <td>Tea Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>2939</td>
      <td>32.58518542</td>
      <td>45.55094828</td>
      <td>2874</td>
      <td>3007</td>
    </tr>
    <tr>
      <td>Tea Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.085036978</td>
      <td>0.000944234</td>
      <td>0.001319949</td>
      <td>0.083158877</td>
      <td>0.087015807</td>
    </tr>

      <tr>
          <td rowspan="13">Month 4</td>
      <td>System.NumberOut</td>
      <td>Number Out</td>
      <td>System</td>
      <td>7172.2</td>
      <td>49.75351708</td>
      <td>69.55062105</td>
      <td>7046</td>
      <td>7273</td>
    </tr>
    <tr>
      <td>Barista.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>7174.1</td>
      <td>50.1594492</td>
      <td>70.11807502</td>
      <td>7046</td>
      <td>7274</td>
    </tr>
    <tr>
      <td>Barista.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.419619643</td>
      <td>0.003476772</td>
      <td>0.004860193</td>
      <td>0.409094031</td>
      <td>0.426131327</td>
    </tr>
    <tr>
      <td>Coffee Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>3988.9</td>
      <td>46.89872456</td>
      <td>65.55989628</td>
      <td>3839</td>
      <td>4078</td>
    </tr>
    <tr>
      <td>Coffee Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.263694555</td>
      <td>0.003263469</td>
      <td>0.004562016</td>
      <td>0.253678214</td>
      <td>0.270258996</td>
    </tr>
    <tr>
      <td>Customer.NumberIn</td>
      <td>Number In</td>
      <td>Entity</td>
      <td>7174.1</td>
      <td>50.1594492</td>
      <td>70.11807502</td>
      <td>7046</td>
      <td>7274</td>
    </tr>
    <tr>
      <td>Customer.NumberOut</td>
      <td>Number Out</td>
      <td>Entity</td>
      <td>7172.2</td>
      <td>49.75351708</td>
      <td>69.55062105</td>
      <td>7046</td>
      <td>7273</td>
    </tr>
    <tr>
      <td>Hot Chocolate Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>793.5</td>
      <td>26.59411391</td>
      <td>37.17600779</td>
      <td>748</td>
      <td>848</td>
    </tr>
    <tr>
      <td>Hot Chocolate Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.066976529</td>
      <td>0.002217266</td>
      <td>0.003099524</td>
      <td>0.063537949</td>
      <td>0.071609518</td>
    </tr>
    <tr>
      <td>Service Counter.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>7174.1</td>
      <td>50.1594492</td>
      <td>70.11807502</td>
      <td>7046</td>
      <td>7274</td>
    </tr>
    <tr>
      <td>Service Counter.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.17799426</td>
      <td>0.001160714</td>
      <td>0.001622567</td>
      <td>0.174906128</td>
      <td>0.18017261</td>
    </tr>
    <tr>
      <td>Tea Machine.NumberSeized</td>
      <td>Total Number Seized</td>
      <td>Resource</td>
      <td>3194.9</td>
      <td>30.93719902</td>
      <td>43.24722213</td>
      <td>3122</td>
      <td>3264</td>
    </tr>
    <tr>
      <td>Tea Machine.ScheduledUtilization</td>
      <td>Scheduled Utilization</td>
      <td>Resource</td>
      <td>0.092441992</td>
      <td>0.000896417</td>
      <td>0.001253104</td>
      <td>0.090345378</td>
      <td>0.094448364</td>
    </tr>
  </table>

</body>
</html>
